/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Orbitron', sans-serif;
  font-family: 'Jura', sans-serif;
}
.main-container {
  max-width: 1200px;
}
.main-container h1,
h2 {
  font-family: 'Orbitron', sans-serif;
}
.main-container p {
  font-family: 'Jura', sans-serif;
}
/* Container */
.main-container {
  max-width: 1250px;
  margin: 0 5px;
}
/* clases "padres" del Head */
.top-main {
  height: 70px;
  margin: 20px auto;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
}
.logo-brand {
  width: 30%;
  margin-left: 20px;
  display: flex;
}
.top-bar {
  width: 70%;
}
/*Logo principal de la pagina */
.logo-main {
  width: 200px;
  height: 70px;
  object-fit: cover;
}
/* Navegador superior, lista */
.top-main-list {
  height: 50px;
  margin: 0px 5px;
  display: flex;
  justify-content: flex-end;
}
.list-nav {
  text-decoration: none;
  list-style: none;
  color: black;
  margin: 15px 30px;
}
.list-nav :hover {
  color: rgb(152, 154, 155);
}

/* Boton de "Presupuesto" */
.btn-aser {
  width: 100px;
  border-radius: 5px;
  background-color: rgb(0, 37, 66);
  color: #ffffff;
  font-family: 'Jura', sans-serif;
  font-size: 13px;
  font-weight: bold;
  border-style: none;
  margin-right: 20px;
}
.btn-aser :hover {
  color: rgb(136, 212, 250);
}
/* Seccion "Nosotros" */
.nosotros {
  width: 100%;
  height: 470px;
  border-radius: 5px;
  text-align: center;
}
.title-main {
  width: 100%;
  color: rgb(0, 37, 66);
  font-weight: bold;
  padding-top: 20px;
}
/* Tarjetas de mision, vision, objetivos  */
.cards-nosotros {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card-content {
  width: 31%;
  height: 350px;
  background-color: rgb(0, 37, 66);
  margin: 10px;
  color: #ffffff;
  border-radius: 5px;
  line-height: 25px;
}
.title-card {
  padding: 15px;
  font-size: 20px;
}
.card-content p {
  padding: 10px;
  font-size: 18px;
}
.card-content i {
  font-size: 35px;
  margin: 15px;
}

/* Seccion "productos" */
.productos {
  width: 100%;
  height: 500px;
  text-align: center;
}
/* Tarjetas de "comerciales, industriales, romanas" */
.cards-productos {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}
.card-content-pro {
  width: 31%;
  height: 350px;
  background-color: rgba(152, 154, 155, 0.267);
  margin: 10px;
  color: rgb(0, 37, 66);
  border-radius: 5px;
  line-height: 25px;
}
.title-pro {
  font-size: 20px;
  padding: 15px;
}
.card-content-pro p {
  padding: 10px 15px;
  font-size: 18px;
}
/* Boton "Ver Catalogo" */
.btn-ctlogo {
  background-color: rgb(0, 37, 66);
  width: 120px;
  height: 50px;
  border-radius: 5px;
  margin: 10px;
}
.btn-ctlogo a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Jura', sans-serif;
}
.btn-ctlogo :hover {
  color: rgb(136, 212, 250);
}
/* Seccion de "Servicios" */
.servicios {
  width: 100%;
  height: 470px;
  display: flex;
  align-items: center;
}
.aside-servicio {
  margin: 30px;
  width: 30%;
  height: 230px;
  background-color: rgba(0, 37, 66, 0.171);
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  padding: 30px;
  border-radius: 5px;
}
.aside-servicio h2 {
  font-size: 30px;
}
/* Boton "Pregunta" */
.btn-aside {
  background-color: rgb(0, 37, 66);
  width: 120px;
  height: 50px;
  border-radius: 5px;
  color: rgb(136, 212, 250);
  margin: 10px;
}
.btn-aside a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Jura', sans-serif;
}
.btn-aside :hover {
  color: rgb(136, 212, 250);
}
/* Footer */
footer {
  width: 100%;
  height: 470px;
  background-color: rgb(0, 37, 66);
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Seccion 1 comprende: Redes, Politicas, Nosotros */
.seccion-1-foot {
  width: 25%;
  margin: 30px 30px 0 30px;
}
.title-foot {
  font-weight: bold;
}
/* Redes Sociales */
.redes-sociales {
  width: 100%;
  height: 115px;
}
.iconos-redes {
  display: flex;
  align-items: center;
}
.redes-sociales i {
  font-size: 35px;
  margin: 10px;
  padding-top: 10px;
}
/* Politicas */
.politicas {
  width: 100%;
  height: 120px;
  line-height: 25px;
  margin: 10px 0;
}
.politica-list li {
  list-style: none;
}
.politica-list a {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
}
.politica-list :hover {
  color: rgb(136, 212, 250);
}
/* Nosotros-Bottom */
.nosotros-bottom {
  width: 100%;
  height: 120px;
  line-height: 25px;
  margin: 15px 0;
}
.title-menu-bt {
  text-decoration: none;
  color: #ffffff;
}
.nosotros-list li {
  list-style: none;
}
.nosotros-list a {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
}
.nosotros-list :hover {
  color: rgb(136, 212, 250);
}
/* Seccion 2 comprende: Productos y servicios */
.seccion-2-foot {
  width: 25%;
  margin: 30px 30px 0 30px;
}
/* Productos Bottom */
.productos-bottom {
  width: 100%;
  height: 120px;
  line-height: 25px;
}
.productos-list li {
  list-style: none;
}
.productos-list a {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
}
.productos-list :hover {
  color: rgb(136, 212, 250);
}
/* Servicios-Bottom */
.servicios-bottom {
  width: 100%;
  height: 120px;
  line-height: 25px;
}
.servicios-bottom :hover {
  color: rgb(136, 212, 250);
}
.servicios-bottom p {
  font-size: 13px;
}
/* Tarjeta Cotizacion */
.card-cotizacion {
  width: 35%;
  height: 350px;
  background-color: #ffffff;
  color: rgb(0, 37, 66);
  margin: 35px 20px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}
/* Contenido de la card*/
.title-cotizacion {
  width: 100%;
  margin: 10px;
}
.card-cotizacion label {
  width: 95%;
  margin-left: 10px;
}
.card-cotizacion input {
  width: 95%;
  height: 35px;
  margin: 8px;
  border-radius: 5px;
  border-color: rgb(0, 37, 66);
}
.btn-ctz {
  width: 95%;
  height: 35px;
  margin: 8px;
  border-radius: 5px;
  color: rgb(0, 37, 66);
  border-width: 2px;
  border-color: rgb(0, 37, 66);
  font-family: 'Jura', sans-serif;
  font-size: 15px;
}
/* Creado y Diseñado..... */
.firm-text {
  margin: 5px;
}
/* Modal "ver catalogo" */
.modal {
  width: 400px;
  height: 400px;
  background-color: rgb(0, 37, 66);
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}
.modal h2 {
  width: 100%;
  margin: 15px 0 5px 15px;
}
.modal p {
  width: 100%;
  padding: 0 10px;
}
.modal label {
  width: 100%;
  margin-left: 10px;
}
.modal input {
  width: 90%;
  height: 35px;
  margin-left: 10px;
  border-radius: 5px;
  border-color: rgb(0, 37, 66);
}
.btn-enviar-cat {
  width: 90%;
  height: 35px;
  margin: 10px;
  border-radius: 5px;
  color: rgb(0, 37, 66);
  border-width: 2px;
  font-family: 'Jura', sans-serif;
  font-size: 15px;
  border-color: rgb(0, 37, 66);
}
